<ActionBar title="Device Details"></ActionBar>
<StackLayout>
    <Label text="Device" class="fieldTitle"></Label>
    <Label [text]="(device$ | async)?.name"></Label>
    <Label text="OS" class="fieldTitle"></Label>
    <Label [text]="(device$ | async)?.os"></Label>
    <Label text="OS version" class="fieldTitle"></Label>
    <Label [text]="(device$ | async)?.osversion"></Label>
    <Label text="Model" class="fieldTitle"></Label>
    <Label [text]="(device$ | async)?.model"></Label>
</StackLayout>